<form>
  <label for="first-name">First name: </label>
  <input type="text" name="first-name" id="" />
  <label for="last-name">Last name:</label>
  <input type="text" name="last-name" id="" />
  <label for="email">Email:</label>
  <input type="text" name="email" id="" />
  <label for="phone-number">Phone number:</label>
  <input type="text" name="phone-number" id="" />
  <label for="fav-coding-lang"></label>
  <select name="fav-coding-lang" id="">
    <option value="html">html</option>
    <option value="css">css</option>
    <option value="markdown">markdown</option>
    <option value="SQL">sql</option>
  </select>
</form>

<router-outlet></router-outlet>
